html {
    height: 100%;
}

body {
    background-color: rgb(31, 31, 30);
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    color: white;
    background-color: rgb(58, 117, 171);
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.1;
    min-width: 430px;
}

#control .btn:hover {
    color: white;
    background-color: rgb(58, 117, 171);
}

#requiredColor {
    display: block;
    font-size: 3.5rem;
    text-transform: uppercase;
}

#navbar {
    background-color: white;
    min-width: 430px;
}

#control {
    height: 100%;
    width: 42%;
    min-width: 430px;
    margin: auto;
    text-align: center;
}

.controlUnits {
    display: inline;
    padding-left: 1%;
    padding-right: 1%;
    color: rgb(58, 117, 171);
    font-weight: 700;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    
}

.btn {
    cursor: pointer;
}

#newColors {
    float: left;
}

#gameStatus {
    color: black;
    font-size: 0.9em;
}

#easy {
    float: right;
    padding-right: 2%;
}

#hard {
    float: right;
}

#squares {
    margin: auto;
    width: 48%;
    min-width: 430px;
}

.square {
    width: 30%;
    margin: 1.6667%;
    padding-bottom: 30%;
    float: left;
    background-color: aqua;
    border-radius: 20%;
}

.selected {
    background-color: rgb(58, 117, 171);
    color: white;
}